<% content_for(:title, "Products") %>

<h1>Products</h1>
<p><%= link_to "New Product", new_product_path %></p>
<h2>Most reviewed:</h2>
<% if @products.most_reviews[0] %>
<%= @products.most_reviews[0].name %>
<% end %>
<hr>
<h2>Newest additions:</h2>
<ul>
<% @products.three_most_recent.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
<% end %>
</ul>
<hr>

<h2> Products made in the US: </h2>
  <ul>
  <% @products.local.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
  </ul>
  <hr>

<h2>All Products:</h2>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<hr>
